.forgetpassword_text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 1.1vw;
    line-height: 2vw;
    width: -moz-fit-content;
    width: fit-content;
    color: #32403b;
    text-align: left;
}
.forgetButton {
    width: 170px;
    border: 1px solid green;
    color:green
}


.forgetpasssword_title {
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 10px;
}

@media screen and (min-width:375px) {
    .forgetpasssword_title {
        font-size: 42px;
    }

.forgetpassword_form{
    /* display: flex; */
}

    .forgetpassword_text {
        font-size: 36px;
        line-height: 40px;
    }

    .forgetpasswordInput {
        /* margin-top: 20rem; */
        width: 24rem
    }

    .forgetButton {
        width: 170px;
        margin-top: 16px;
        border: 2px solid green;
        font-size: 29px;
    }
}

@media screen and (max-width:374px) {
    .forgetpasssword_title {
        font-size: 42px;
    }

    .forgetpassword_form {}

    .forgetpassword_text {
        font-size: 36px;
        line-height: 40px;
    }

    .forgetpasswordInput {
        margin-top: 20rem;
        width: 24rem
    }

    .forgetButton {
        width: 170px;
        margin-top: 16px;
        border: 1px solid green;
        font-size: 29px;
    }
    .forgetpasswordContainer{
        transform: translateY(207px);
    }
}
@media screen and (max-width:208px) {
    .forgetpasswordContainer{
        transform: translateX(-214px);    }

}